html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* Header */
.header {
    height: 100vh;
    width: auto;
}
@media(max-width: 576px){
    .header {
        margin-top: 50px;
    }
}
.slider-control {
    width: 50px; 
    height: 50px;
}
.slider-img {
    max-height: 100vh;
}
.card-image {
    height: 40%;
    width: auto;
    padding-top: 15px;
}

#popup__section {
    background: linear-gradient (rgba(25,25,25,0.5), rgb(96,185,203));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* #popup__section .container {
    background-color: rgba(128, 62, 24, 0.507);
} */
