/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Work Sans', sans-serif;
}
/* Navbar */
.navbar {
    border-bottom: 2px solid rgb(44, 44, 44);
}
.active {
    font-weight: bold;
}
/* Header */
.header {
    width: auto;
    margin-top: 62px;
}
@media(min-width: 768px){
    .header {
        margin-top: 0px;
    }
}
.slider-control {
    width: 50px; 
    height: 50px;
}
.slider-img {
    max-height: 100vh;
}

/* Lenguajes */
.card-image {
    height: 40%;
    width: auto;
    padding-top: 15px;
}

/* Formularios */
.form-control {
    border: none;
    border-bottom: 2px solid black;
    background: none;
    border-radius: 0px;
}

/* Galeria */
.galery-item {
    height: 350px;
    background-size: cover;
    background-position: center;
}
.galery-item__hover {
    background-color: rgba(25,25,25,0.7);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s;
}

.galery-item:hover .galery-item__hover {
    cursor: pointer;
    opacity: 1;
    transition: .7s;
}
.galery-item__hover i, .galery-item__hover p {
    color: rgb(221, 221, 221);
    font-size: 30px;
}
/* Call to action */
.calltoaction__container {
    background: linear-gradient(90deg, rgba(217,215,220,1) 0%, rgba(200,204,207,1) 50%, rgba(218,222,225,1) 71%, rgba(218,222,225,1) 100%);
}
.calltoaction__container h3 {
    font-family: 'Architects Daughter', cursive;
    font-style: italic;
}
.calltoaction__container--img {
    display: none;
    min-height: 100% ;
}
@media(min-width: 768px){
    .calltoaction__container--img {
        display: block;
        background-position: top; 
        background-size: cover;
    }
}

/* Footer */
.footer {
    border-top: black solid 2px;
}
.footer  i {
 font-size: 2rem;
}

.footer__contacto {
    
}
/* Popup */ 
#popup__section {
    background: linear-gradient (rgba(25,25,25,0.5), rgb(96,185,203));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* #popup__section .container {
    background-color: rgba(128, 62, 24, 0.507);
} */


/* ------------------ Acercade.html ----------------- */
.accordion .card {
    border: none;
    border-bottom: solid 1px black;
}

.accordion .card-header:hover {
    cursor: pointer;
}
